header{
    background-color: black;
    color: whitesmoke;
    text-align: center;    
    }

    #segundo {
        color: red;
        background-color: aqua;

    }
    .centradito{
        text-align: center;
    }
    footer{
        background-color: blue;
        color: white;
    }