header{
    background-color: #EAF6F6;
}

nav{
    background-color: #EAF6F6;
}


section{
    grid-column: 1/4;
    background-color: #EAF6F6;
}
h2{
    font-size: 5rem;
    margin: auto
}
h7{
    font-size: 1.2rem;
}
aside{
    text-align: left;
    grid-column: 2/5;
    background-color: #EAF6F6;
 }

footer{
    background-color: #EAF6F6;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}
.pdfview{
margin: auto;
display: block;
width: 850px;
height: 100vh;
}
.tittle{
    text-align: center;
    color: #5800FF;
}
img{
    margin-right: 20px;
}